---
---

@import "{{ site.theme }}";

body, header, footer, main, p, a, a:visited, a:hover, h1, h2, h3, h4, h5, h6, .outer {
  background-color: #111 !important;
  background: #111 !important;
  color: #a70000 !important;
  border: 0 !important;
  border-style: dotted !important;
  border-color: #a70000 !important;
}

#forkme_banner {
  background: #111 url(../images/github-icon.png) 90% 50% no-repeat !important;
  background-size: 25px 25px !important;
}

#header_wrap .inner {
  padding-bottom: 0px !important;
}

#main_content {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-top: 1px dotted;
  border-bottom: 1px dotted;
}


