---
layout: default
---

<h2>{{ page.title }}</h2>

<p>{{content}}</p>

{% if site[page.collection] %}
<p class="italic">{{ site.data.strings.texts }}</p>
<ul class="collection-list">
{% for publication in site[page.collection] %}
    <li><a href="{{ publication.permalink }}" title="{{ publication.title }}">{{ publication.title }}{% if publication.description %}: <span class="publication-description">{{ publication.description }}</span>{% endif %}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if page.skip_catalog_link != true %}
<a href="/catalog" title="{{ site.data.strings.back_to_catalog }}" class="nav_link">{{ site.data.strings.back_to_catalog }}</a>
{% endif %}
<a href="/" title="{{ site.data.strings.back_to_home }}" class="nav_link">{{ site.data.strings.back_to_home }}</a>
